version: 2.1

jobs:
  build:
    docker:
      - image: python:3.8
    working_directory: ~/repo
    steps:
    - checkout
    - restore_cache:
        keys:
          - simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
    - run:
        name: Install
        command: |
          python3.8 -m venv venv
          . venv/bin/activate
          make install
          make install-dev
    - save_cache:
        paths:
          - ./venv
        key: simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}

  test:
    docker:
      - image: python:3.8
    working_directory: ~/repo
    steps:
    - checkout
    - restore_cache:
        keys:
          - simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
    - run:
        name: Test
        command: |
          . venv/bin/activate
          make test
    - run:
        name: Lint
        command: |
          . venv/bin/activate
          make lint
  
  docker-build:
    docker:
      - image: docker:20.10.10-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Dependencies
          command: |
            apk add --no-cache py3-pip=20.3.4-r1
            pip3 install awscli
      - run:
          name: Build simpleapi Docker image
          command: |
            docker build -t simpleapi:latest .
      - run:
          name: Push simpleapi Docker image
          command: |
            aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin ${ECR_ENDPOINT}
            docker tag simpleapi:latest ${ECR_ENDPOINT}/simpleapi:${CIRCLE_SHA1}
            docker push "${ECR_ENDPOINT}/simpleapi:${CIRCLE_SHA1}"


workflows:
  default:
    jobs:
      - build
      - test:
          requires: [build]
      - docker-build:
          requires: [test]
          filters:
            branches:
              only: [main]
      #- deploy-green
      #- smoke-test
      #- switch
      #- delete-blue
