version: 2.1

orbs:
  aws-eks: circleci/aws-eks@1.1.0
  kubernetes: circleci/kubernetes@0.12.0

jobs:
  build:
    docker:
      - image: python:3.8
    working_directory: ~/repo
    steps:
    - checkout
    - restore_cache:
        keys:
          - simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
    - run:
        name: Install
        command: |
          python3.8 -m venv venv
          . venv/bin/activate
          make install
          make install-dev
    - save_cache:
        paths:
          - ./venv
        key: simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}

  test:
    docker:
      - image: python:3.8
    working_directory: ~/repo
    steps:
    - checkout
    - restore_cache:
        keys:
          - simpleapi-v1-dependencies-{{ .Environment.CIRCLE_SHA1 }}
    - run:
        name: Test
        command: |
          . venv/bin/activate
          make test
    - run:
        name: Lint
        command: |
          . venv/bin/activate
          make lint
  
  docker-build:
    docker:
      - image: docker:20.10.10-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Dependencies
          command: |
            apk add --no-cache py3-pip=20.3.4-r1
            pip3 install awscli
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
      - run:
          name: Load Docker layer cache
          command: |
            set +o pipefail
            docker load -i /caches/simpleapi.tar | :
      - run:
          name: Build simpleapi Docker image
          command: |
            docker build --cache-from=simpleapi -t simpleapi:latest .
      - run:
          name: Save Docker layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/simpleapi.tar simpleapi:latest
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/simpleapi.tar
      - run:
          name: Push simpleapi Docker image
          command: |
            aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin ${ECR_ENDPOINT}
            docker tag simpleapi:latest ${ECR_ENDPOINT}/simpleapi:${CIRCLE_SHA1:0:7}
            docker push "${ECR_ENDPOINT}/simpleapi:${CIRCLE_SHA1:0:7}"

  blue-green-deploy:
    executor: aws-eks/python3
    steps:
      - checkout
      - run:
          name: Update deployment and service version selector 
          command: |
            sed -i "s/VERSION/${CIRCLE_SHA1:0:7}/g" k8s/simpleapi-deployment.yml
            sed -i "s/VERSION/${CIRCLE_SHA1:0:7}/g" k8s/simpleapi-service.yml
            sed -i "s/VERSION/${CIRCLE_SHA1:0:7}/g" k8s/simpleapi-test-service.yml
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: simpleapi-cluster
          install-kubectl: true
          aws-region: us-east-2
      - run:
          name: Get Blue simpleapi version
          command: |
            kubectl get service simpleapi -ojsonpath='{.spec.selector.version}' > blue.txt
            cat blue.txt
      - kubernetes/create-or-update-resource:
          resource-file-path: "k8s/simpleapi-deployment.yml"
          get-rollout-status: true
          resource-name: deployment/simpleapi-${CIRCLE_SHA1:0:7}
          show-kubectl-command: true
      - kubernetes/create-or-update-resource:
          resource-file-path: "k8s/simpleapi-test-service.yml"
          resource-name: service/simpleapi-test
          show-kubectl-command: true
      - run:
          name: Smoke test Green Deployment
          command: |
            # Wait for test-service LoadBalancer to reflect the changes
            sleep 20

            export API_URL=$(kubectl get service simpleapi-test -o=jsonpath='{.status.loadBalancer.ingress[0].hostname}')
            if curl -s ${API_URL}:5000/status | grep "status"
              then
                echo "Smoke Test Success"
              else
                exit 1
              fi
      - kubernetes/create-or-update-resource:
          resource-file-path: "k8s/simpleapi-service.yml"
          resource-name: service/simpleapi
          show-kubectl-command: true
      - run:
          name: Delete the Blue deployment
          command: |
            export BLUE=$(cat blue.txt)
            kubectl delete deployment simpleapi-${BLUE}
      - run:
          name: Failure - delete Green deployment
          command: kubectl delete deployment simpleapi-${CIRCLE_SHA1:0:7}
          when: on_fail

workflows:
  default:
    jobs:
      - build
      - test:
          requires: [build]
      - docker-build:
          requires: [test]
          filters:
            branches:
              only: [main]
      - blue-green-deploy:
          requires: [docker-build]
          filters:
            branches:
              only: [main]
